.card_text h3{
    text-decoration: none;
    color: #90EE90;
  }
  
  .card_text p{
    color: gray;
  
  }
  .service-item a {
    text-decoration: none;
  }
  .service-item {
    border: gray ;
    text-align: center;
    text-decoration: none;
  }
  
  .service-item button{
    border: none;
    color: white;
    height: 40px;
    background-color: #90EE90;
    border-radius: 4px;
    outline: none;
    transition: ease-out 0.3;
    font-size: large;
  }